#about {
  height: 100vh;
  width: 100vw;
  background: url("https://source.unsplash.com/Tmz8FThN_BE/1920x1080") center
    center no-repeat;
/* photo from https://unsplash.com/photos/Tmz8FThN_BE */
  margin-top: 0;
  position: absolute;
}

#about p {
  font-size: 16px;
}

#aboutContainer {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 40px;
  margin-top: 10%;
}
#aboutContainer h2{
    text-align: center;
    padding: 10px;
}
.aboutCard {
  width: 18rem;
  margin: 15px;
  border-radius: 5px;
}
#aboutContainer Button{
    margin-left: 15px;
    margin-top: 10px;
}
